<section id="setShowPage">
  <div class="columns">
    <div class="column is-2 is-offset-1 setList">
        <h4>Set List</h4>
        <% set.tracks.forEach((track) => { %>
          <p class="ps"><%= track.content %></p>
          <% if(locals.isLoggedIn && track.belongsTo(user)) { %>
            <form method="POST" action="/sets/<%= set.id %>/tracks/<%= track.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="button dangery is-small">Delete</button>
            </form>
          <% } %>
        <% }) %>
    </div>

    <div class="column is-4 is-offset-1">
      <div class="nowPlaying">

        <h4>Track</h4>
        <div class="field">
          <form method="POST" action="/sets/<%= set.id %>/tracks">
            <input class= "input" type="text" name="content" id="content" placeholder="What's on??" value="<%= set.tracks.length ? set.tracks[set.tracks.length-1].content : '' %>"></input>
        </div>
        <div class="controls">
          <% if(locals.isLoggedIn && set.belongsTo(user)) { %>
          <button class="button infoy" >Add to set!</button>
          <a class="button infoy" type="a" id="getsong">Suggest a banger</a>
          <a class="button infoy" type="a" id="play">Play!</a>
        </div>
          </form>
      <% } %>
      </div>
      <div class="upNext">
        <h4 class="up-next">Up Next...</h4>
        <div class="suggestion">
          <span id="result"></span>
        </div>
        <div class="cue-div">
          <a class="button infoy cue"> <<< cue </a>
        </div>
      </div>

    </div>
<% if(locals.isLoggedIn && set.belongsTo(user)) { %>
    <div class="column is-3">
      <div class="movie-container">
        <div class="moviediv"></div>
      </div>
      <div class="setTitle">
          <ul>
            <li><h2 class="setname"><%=set.name %></h2></li>
            <li><h3 class="setdate"><%=set.date %></h3></li>
            <li><p class="setuser"><%=set.createdBy.username %></p></li>
          </ul>
        <div>
            <form method="POST" action="/sets/<%= set.id %>">
            <a href="/sets/<%= set.id %>/edit" class="button infoy">Edit</a>
            <input type="hidden" name="_method" value="DELETE">
            <a class="button dangery">Delete</a>
            </form>
          <% } %>
        </div>
      </div>
    </div>
<% if(locals.isLoggedIn && !set.belongsTo(user)) { %>

    <div class="column is-3 is-offset-8">
      <div class="editWarning">
        <p>You must be the owner of the set to make changes. </p>
        <p>Go to the set screen to create a new set or find your own.</p>
      </div>
    </div>
  <% } %>
</section>
